---
layout: page
permalink: /our-staff
lang: en
title: Our Staff
header:
  title: Our Staff
  text: 
---
<h1 class="text-center mt-0">Meet Us</h1>
<div class="box-img">
<img src="/media/0685bd50-5845-4c21-9a08-34e9f0307d08.jpg" src="/media/0685bd50-5845-4c21-9a08-34e9f0307d08.jpg">
<figcaption>FCCAN Spokes Council Retreat 2019</figcaption>
</div>
<br>
<h2 class="text-center mt-0">Organizational Structure</h2>

<p class="text-center mt-0">The structure of FCCAN consists of the Spokescouncil (roughly the equivalent of a board of directors), the staff coordinator, affiliates and dedicated volunteers.</p>

<p class="text-center mt-0">The Spokescouncil is responsible for overall oversight, policy-making and fundraising. The coordinator manages interns and volunteers, administers day-to-day activities, leads grant writing initiatives and other fundraising and coordinates the work of the affiliates. FCCAN as a whole has about 50 active volunteers who are generally local community members, activists and students.</p>
{% include members.html lang="en" %}
{% include spokescouncil.html lang="en" %}