{% for section in site.homepage-sections %}
    <section>
      <div class="container">
      <br>
      <h2 class="text-center mt-0">{% if page.lang == "es" %}{{ section.title-es | newline_to_br | markdownify }}{% else %}{{ section.title-en | newline_to_br | markdownify }}{% endif %}</h2>
      <div class="row-fluid member-box">
      	{% if section.picture %}
        <div class="col-md-auto">
          <img class="fa fa-3x" src="{{ section.picture }}">
        </div>
       	{% endif %}
        <div class="col-md-auto">
          <div class="card-body">
            <p class="card-text"> {% if page.lang == "es" %}{{ section.body-es | newline_to_br | markdownify }}{% else %}{{ section.body-en | newline_to_br | markdownify }}{% endif %}</p>
          </div>
        </div>
      </div>
      <br>
      </div>
	</section>
{% endfor %}
<section>
  <div class="container">
    <div class="row-fluid">
			<div class="card-body">
	            <h3> {% if page.lang == "es" %}Último blog {% else %}Latest Blog{% endif %} </h3>
	            {% assign blog = site.blog | where:"associated-group","blog" | sort: 'date' | reverse %}
	            {% for post in blog  limit:3 %}
				<a href="{{ post.url }}">
				   <li class="nav-link"><h5>{{ post.title }} - {{post.date| date: "%-d %B %Y" }}</h5> 
				   	<p>{{ post.content |strip_html |truncatewords:20}}</p>Read more...
				   </li> 
				</a>
				{% endfor %}
	          </div>
	      </div>
	    </div>
    </div>
</section>
