<section>
  <div class="container">
      {% for program in site.programs %}
      <div class="row-fluid member-box">
      	{% if program.picture %}
        <div class="col-md-auto">
          <a href="{{ program.url }}"><img class="fa fa-3x" src="{{ program.picture }}"></a>
        </div>
        {{else}}
        <h2 class="text-center mt-0"><a href="{{ program.url }}">{% if page.lang == "es" %}{{ program.title-es | newline_to_br }}{% else %}{{ program.title-en | newline_to_br }}{% endif %}</a></h2>
       	{% endif %}
      {% endfor %}
    </div>
  </div>
</section>