.member-box {
    img {
      object-fit: cover;
      float: left;
    }
}
.box-img {
    img {
      object-fit: cover;
      float: left;      
      max-width: 100%;
      max-height: 100%;	
    }
}