---
layout: page
lang: es
title: Nuestro Personal
header:
  title: Nuestro Personal
  text: 
---
<h1 class="text-center mt-0">Meet Us</h1>
<div class="box-img">
<img src="/media/0685bd50-5845-4c21-9a08-34e9f0307d08.jpg" src="/media/0685bd50-5845-4c21-9a08-34e9f0307d08.jpg">
<figcaption>FCCAN Spokes Council Retreat 2019</figcaption>
</div>
<br>
<h2 class="text-center mt-0">Estructura organizativa</h2>
<p class="text-center mt-0">La estructura de FCCAN consiste en una junta directiva, el coordinador de personal, afiliados y voluntarios dedicados.</p>

<p class="text-center mt-0">La junta directiva es responsable de la supervisión general, la formulación de políticas y la recaudación de fondos. El coordinador gestiona a los pasantes y voluntarios, administra las actividades diarias, lidera las iniciativas de redacción de subvenciones y otras actividades de recaudación de fondos y coordina el trabajo de los afiliados. FCCAN en su conjunto tiene alrededor de 50 voluntarios activos que generalmente son miembros de la comunidad local, activistas y estudiantes.</p>


{% include members.html lang="es" %}
{% include spokescouncil.html lang="es" %}
