---
layout: base
---
<!-- Header -->
<header class="masthead pagehead2" {% if page.background_image %} style="background-image: {{ page.background_image }}"{% endif %} >
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 ">
        <h1 class="text-uppercase text-white font-weight-bold">{% if page.lang == "es" %}{{ page.title }}{% else %}{{ page.title  }}{% endif %}</h1>
        <hr class="divider my-4">
      </div>
    </div>
  </div>
</header>

<!-- include content as section -->
{% assign content = content %}
{% if content != "" %}
  <div class="container">
    <br>
    {{ content }}
  </div>
{% endif %}
<section>
  <div class="container">
    <div class="row-fluid">
      <div class="card-body">
{% assign blog = site.blog | sort: 'date' | reverse %}
 {% for post in blog  %}
 {% if post.associated-group == page.associated-group %}
        <a href="{{ post.url }}">
           <li class="nav-link"><h5>{{ post.title }} </h5> 
            <p>{{ post.content |strip_html |truncatewords:100}}</p>Read more...
           </li> 
        </a>
  {%endif%}
{% endfor %}
            </div>
        </div>
      </div>
    </div>
</section>